/* .work-img{
    border-radius: 50%;
    width: 20%;
    height: 30%;
    float: left;
    color: white;
}
.work_exp{
    margin-left: 50px;
    padding:30px;
    margin-top: 9.5%;
    display: inline-block;
    cursor: pointer;
}
.desc{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    top: 3px;
}
.arrow:hover{
    animation: fadeInAnimation ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.role{
    font-size: large;
    margin-top: 5px;
    width: fit-content;

}
.company-name{
    font-weight: bold;
    font-size: large;
    display: inline-block;
    margin-right: 5px;
    width: fit-content;
}
.arrow{
    position: absolute;
    top: 11px;
    right: 90px;
    width: 20px; 
    height: 20px;
    opacity: 0%;    
    transition: right 0.5s ease, opacity 0.5s ease;
}
.desc:hover .arrow {
    opacity: 1; 
}

.duration{
    position: relative;
    left: 70vw;
    width: fit-content;
    bottom: 30px;

}
.wk{
    position: absolute;
    bottom: 130px;
    left: 88px;
    font-size: xx-large;
    font-weight: bolder;
}
.container{
    position: relative;
    top:50px ;
    height: fit-content;
} */

.container {
  padding: 20px;
  background-color: black;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  text-align: center;
}

.wk, .education h2 {
  font-size: 1.9rem;
  color: #d9d3bb;
}

.work-link {
  text-decoration: none;
  color: inherit;
}

.work-exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.work-exp:hover {
  background-color: #444444;
}

.work-img, .arrow {
  width: 40px;
  height: 40px;
}

.desc {
  text-align: left;
  flex-grow: 1;
  margin-left: 10px;
}

.company-name, .university {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
}

.role, .degree, .edu-duration, .duration {
  color: #aaaaaa;
}

.education {
  margin-top: 20px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;

}
.education-heading{
    font-size: 1.7rem;
    color: #ffe58a;

}
.university{
    font-size: 1.4rem;
}

.degree, .edu-duration{
    font-size: x-large;
}
.edu-details{
    left: 10px;
}