.contact-button{
 padding: 12px 24px;
  background: linear-gradient(45deg, #4a90e2, #0072ff); /* Gradient from light to dark blue */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; 
}

.contact-button:hover{
    background: linear-gradient(45deg, #0072ff, #4a90e2); /* Reverse the gradient on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.btn-container{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}